In [2]:
import pandas as pd

In [12]:
data1 = [101,102,103]
print(data1,type(data1))

[101, 102, 103] <class 'list'>

In [13]:
field1=pd.Series(data1)
print(field1,type(field1))

0    101
1    102
2    103
dtype: int64 <class 'pandas.core.series.Series'>

In [14]:
data2=['Sree','Sai','Kishore']
print(data2,type(data2))

['Sree', 'Sai', 'Kishore'] <class 'list'>

In [15]:
field2=pd.Series(data2)
print(field2,type(field2))

0       Sree
1        Sai
2    Kishore
dtype: object <class 'pandas.core.series.Series'>

In [20]:
df1=pd.DataFrame({'eid':field1,'ename':field2})
print(df1,'\n',type(df1))

   eid    ename
0  101     Sree
1  102      Sai
2  103  Kishore
 <class 'pandas.core.frame.DataFrame'>

In [21]:
df1=pd.DataFrame({'eid':data1,'ename':data2})
print(df1,'\n',type(df1))

   eid    ename
0  101     Sree
1  102      Sai
2  103  Kishore
 <class 'pandas.core.frame.DataFrame'>

In [23]:
dict1={'eid':data1,'ename':data2}
dict1

{'eid': [101, 102, 103], 'ename': ['Sree', 'Sai', 'Kishore']}

In [25]:
df1=pd.DataFrame(dict1)
df1

   eid    ename
0  101     Sree
1  102      Sai
2  103  Kishore

In [27]:
df1=pd.DataFrame(dict1,index=['r1','r2','r3'])
df1

    eid    ename
r1  101     Sree
r2  102      Sai
r3  103  Kishore

In [28]:
df1.loc['r2']

eid      102
ename    Sai
Name: r2, dtype: object

In [30]:
df1['eid']

r1    101
r2    102
r3    103
Name: eid, dtype: int64

In [31]:
df1.loc['eid']

KeyError: 'eid'

In [34]:
df1.loc[:,'eid']

r1    101
r2    102
r3    103
Name: eid, dtype: int64

In [35]:
df1.iloc[0,0]

101

In [36]:
df1.iloc[2,1]# 2nd row index and 1st column index

'Kishore'

In [38]:
for i in df1.iloc[2,1]:
    print(i)

K
i
s
h
o
r
e

In [43]:
df1[df1['ename'] == 'Kishore']

    eid    ename
r3  103  Kishore

In [44]:
df1[df1['eid'] == 102]

    eid ename
r2  102   Sai

In [47]:
df1[df1['eid'] > 101]

    eid    ename
r2  102      Sai
r3  103  Kishore

In [50]:
df1[df1['eid'] > 101]

    eid    ename
r2  102      Sai
r3  103  Kishore

In [51]:
df1[df1['eid'] %2 ==0]

    eid ename
r2  102   Sai

In [53]:
df1[df1['eid'] %2 ==1]

    eid    ename
r1  101     Sree
r3  103  Kishore

In [55]:
df1[df1['eid'] %2 ==1]['ename']

r1       Sree
r3    Kishore
Name: ename, dtype: object

In [73]:
df1[df1['eid'] %2 ==1][['eid','ename']]

    eid    ename
r1  101     Sree
r3  103  Kishore

In [75]:
df1[df1['eid'] %2 ==1][:]

    eid    ename
r1  101     Sree
r3  103  Kishore

In [77]:
df1[df1['eid'] %2 ==1][::-1]

    eid    ename
r3  103  Kishore
r1  101     Sree

In [62]:
df2=pd.read_csv('Dataset/emp_data.csv')
df2

   eid    ename
0  101     Sree
1  102      Sai
2  103  Kishore

In [69]:
{'eid': {"0":101, "1":102, "2":103}, 'ename': {"0":'Sree',"1":'Sai', "2":'Kishore'}}

{'eid': {'0': 101, '1': 102, '2': 103},
 'ename': {'0': 'Sree', '1': 'Sai', '2': 'Kishore'}}

In [65]:
df2=pd.read_csv('Dataset/emp_data.json')
df2

Empty DataFrame
Columns: [{'eid': {"0":101,  "1":102,  "2":103},  'ename': {"0":'Sree', 1:'Sai',  "2":'Kishore'}}]
Index: []

In [72]:
df3=pd.read_json('Dataset/emp_data.json')
df3

   eid    ename
0  101     Sree
1  102      Sai
2  103  Kishore

In [84]:
url = "https://support.staffbase.com/hc/en-us/article_attachments/360009159392/access-code.csv"
df3=pd.read_csv(url,delimiter=';')
print(df3)
df4=pd.read_csv(url,sep=';')
df4

   Identifier First name Last name
0      901242     Rachel    Booker
1      207074      Laura      Grey
2      408129      Craig   Johnson
3      934600       Mary   Jenkins
4      507916      Jamie     Smith

   Identifier First name Last name
0      901242     Rachel    Booker
1      207074      Laura      Grey
2      408129      Craig   Johnson
3      934600       Mary   Jenkins
4      507916      Jamie     Smith

In [88]:
url = "https://en.wikipedia.org/wiki/Administrative_divisions_of_India"

df5=pd.read_html(url)
print(df5)
len(df5)

[    0                                                  1
0 NaN  This article possibly contains original resear...,                                                     0
0             This article is part of a series on the
1                                   Politics of India
2   Constitution and law Constitution of India Fun...
3   Government President of India Droupadi Murmu V...
4   Parliament Parliament of India Lok Sabha Speak...
5   Judiciary Supreme Court of India Chief Justice...
6   Elections and political parties Presidential e...
7   Administrative divisions States Andhra Pradesh...
8   Federalism Executive Governors (List) Lieutena...
9   Foreign relations Ministry of External Affairs...
10                       India portal Other countries
11                                                vte,     0   1   2   3                                                  4   \
0  NaN NaN NaN NaN                                                NaN
1  NaN NaN NaN NaN                                                NaN
2  NaN NaN NaN NaN                                    Country (India)
3  NaN NaN NaN NaN                                    Country (India)
4  NaN NaN NaN NaN                                                NaN
5  NaN NaN NaN NaN                                                NaN
6  NaN NaN NaN NaN                     State (e.g. West Bengal State)
7  NaN NaN NaN NaN                     State (e.g. West Bengal State)
8  NaN NaN NaN NaN                                                NaN
9  NaN NaN NaN NaN                                                NaN
10 NaN NaN NaN NaN                Division (e.g. Presidency Division)
11 NaN NaN NaN NaN                Division (e.g. Presidency Division)
12 NaN NaN NaN NaN                                                NaN
13 NaN NaN NaN NaN                                                NaN
14 NaN NaN NaN NaN         District (e.g. North 24 Parganas District)
15 NaN NaN NaN NaN         District (e.g. North 24 Parganas District)
16 NaN NaN NaN NaN                                                NaN
17 NaN NaN NaN NaN                                                NaN
18 NaN NaN NaN NaN  Sub-district (Subdivision, Tehsil/Taluka) (e.g...
19 NaN NaN NaN NaN  Sub-district (Subdivision, Tehsil/Taluka) (e.g...
20 NaN NaN NaN NaN                                                NaN
21 NaN NaN NaN NaN                                                NaN
22 NaN NaN NaN NaN                     Block (e.g. Basirhat II Block)
23 NaN NaN NaN NaN                     Block (e.g. Basirhat II Block)
24 NaN NaN NaN NaN                                                NaN
25 NaN NaN NaN NaN                                                NaN
26 NaN NaN NaN NaN                     Village  (e.g. Chaita village)
27 NaN NaN NaN NaN                     Village  (e.g. Chaita village)
28 NaN NaN NaN NaN                                                NaN
29 NaN NaN NaN NaN                                                NaN

                                                   5   \
0                                                 NaN
1                                                 NaN
2                                     Country (India)
3                                     Country (India)
4                                                 NaN
5                                                 NaN
6                      State (e.g. West Bengal State)
7                      State (e.g. West Bengal State)
8                                                 NaN
9                                                 NaN
10                Division (e.g. Presidency Division)
11                Division (e.g. Presidency Division)
12                                                NaN
13                                                NaN
14         District (e.g. North 24 Parganas District)
15         District (e.g. North 24 Parganas District)
16                                                NaN
17                                                NaN
18  Sub-district (Subdivision, Tehsil/Taluka) (e.g...
19  Sub-district (Subdivision, Tehsil/Taluka) (e.g...
20                                                NaN
21                                                NaN
22                     Block (e.g. Basirhat II Block)
23                     Block (e.g. Basirhat II Block)
24                                                NaN
25                                                NaN
26                     Village  (e.g. Chaita village)
27                     Village  (e.g. Chaita village)
28                                                NaN
29                                                NaN

                                                   6   \
0                                                 NaN
1                                                 NaN
2                                     Country (India)
3                                     Country (India)
4                                                 NaN
5                                                 NaN
6                      State (e.g. West Bengal State)
7                      State (e.g. West Bengal State)
8                                                 NaN
9                                                 NaN
10                Division (e.g. Presidency Division)
11                Division (e.g. Presidency Division)
12                                                NaN
13                                                NaN
14         District (e.g. North 24 Parganas District)
15         District (e.g. North 24 Parganas District)
16                                                NaN
17                                                NaN
18  Sub-district (Subdivision, Tehsil/Taluka) (e.g...
19  Sub-district (Subdivision, Tehsil/Taluka) (e.g...
20                                                NaN
21                                                NaN
22                     Block (e.g. Basirhat II Block)
23                     Block (e.g. Basirhat II Block)
24                                                NaN
25                                                NaN
26                     Village  (e.g. Chaita village)
27                     Village  (e.g. Chaita village)
28                                                NaN
29                                                NaN

                                                   7   \
0                                                 NaN
1                                                 NaN
2                                     Country (India)
3                                     Country (India)
4                                                 NaN
5                                                 NaN
6                      State (e.g. West Bengal State)
7                      State (e.g. West Bengal State)
8                                                 NaN
9                                                 NaN
10                Division (e.g. Presidency Division)
11                Division (e.g. Presidency Division)
12                                                NaN
13                                                NaN
14         District (e.g. North 24 Parganas District)
15         District (e.g. North 24 Parganas District)
16                                                NaN
17                                                NaN
18  Sub-district (Subdivision, Tehsil/Taluka) (e.g...
19  Sub-district (Subdivision, Tehsil/Taluka) (e.g...
20                                                NaN
21                                                NaN
22                     Block (e.g. Basirhat II Block)
23                     Block (e.g. Basirhat II Block)
24                                                NaN
25                                                NaN
26                     Village  (e.g. Chaita village)
27                     Village  (e.g. Chaita village)
28                                                NaN
29                                                NaN

                                                   8   \
0                                                 NaN
1                                                 NaN
2                                     Country (India)
3                                     Country (India)
4                                                 NaN
5                                                 NaN
6                      State (e.g. West Bengal State)
7                      State (e.g. West Bengal State)
8                                                 NaN
9                                                 NaN
10                Division (e.g. Presidency Division)
11                Division (e.g. Presidency Division)
12                                                NaN
13                                                NaN
14         District (e.g. North 24 Parganas District)
15         District (e.g. North 24 Parganas District)
16                                                NaN
17                                                NaN
18  Sub-district (Subdivision, Tehsil/Taluka) (e.g...
19  Sub-district (Subdivision, Tehsil/Taluka) (e.g...
20                                                NaN
21                                                NaN
22                     Block (e.g. Basirhat II Block)
23                     Block (e.g. Basirhat II Block)
24                                                NaN
25                                                NaN
26                     Village  (e.g. Chaita village)
27                     Village  (e.g. Chaita village)
28                                                NaN
29                                                NaN

                                                   9   10  11  12  13  14  15  \
0                                                 NaN NaN NaN NaN NaN NaN NaN
1                                                 NaN NaN NaN NaN NaN NaN NaN
2                                     Country (India) NaN NaN NaN NaN NaN NaN
3                                     Country (India) NaN NaN NaN NaN NaN NaN
4                                                 NaN NaN NaN NaN NaN NaN NaN
5                                                 NaN NaN NaN NaN NaN NaN NaN
6                      State (e.g. West Bengal State) NaN NaN NaN NaN NaN NaN
7                      State (e.g. West Bengal State) NaN NaN NaN NaN NaN NaN
8                                                 NaN NaN NaN NaN NaN NaN NaN
9                                                 NaN NaN NaN NaN NaN NaN NaN
10                Division (e.g. Presidency Division) NaN NaN NaN NaN NaN NaN
11                Division (e.g. Presidency Division) NaN NaN NaN NaN NaN NaN
12                                                NaN NaN NaN NaN NaN NaN NaN
13                                                NaN NaN NaN NaN NaN NaN NaN
14         District (e.g. North 24 Parganas District) NaN NaN NaN NaN NaN NaN
15         District (e.g. North 24 Parganas District) NaN NaN NaN NaN NaN NaN
16                                                NaN NaN NaN NaN NaN NaN NaN
17                                                NaN NaN NaN NaN NaN NaN NaN
18  Sub-district (Subdivision, Tehsil/Taluka) (e.g... NaN NaN NaN NaN NaN NaN
19  Sub-district (Subdivision, Tehsil/Taluka) (e.g... NaN NaN NaN NaN NaN NaN
20                                                NaN NaN NaN NaN NaN NaN NaN
21                                                NaN NaN NaN NaN NaN NaN NaN
22                     Block (e.g. Basirhat II Block) NaN NaN NaN NaN NaN NaN
23                     Block (e.g. Basirhat II Block) NaN NaN NaN NaN NaN NaN
24                                                NaN NaN NaN NaN NaN NaN NaN
25                                                NaN NaN NaN NaN NaN NaN NaN
26                     Village  (e.g. Chaita village) NaN NaN NaN NaN NaN NaN
27                     Village  (e.g. Chaita village) NaN NaN NaN NaN NaN NaN
28                                                NaN NaN NaN NaN NaN NaN NaN
29                                                NaN NaN NaN NaN NaN NaN NaN

    16  17
0  NaN NaN
1  NaN NaN
2  NaN NaN
3  NaN NaN
4  NaN NaN
5  NaN NaN
6  NaN NaN
7  NaN NaN
8  NaN NaN
9  NaN NaN
10 NaN NaN
11 NaN NaN
12 NaN NaN
13 NaN NaN
14 NaN NaN
15 NaN NaN
16 NaN NaN
17 NaN NaN
18 NaN NaN
19 NaN NaN
20 NaN NaN
21 NaN NaN
22 NaN NaN
23 NaN NaN
24 NaN NaN
25 NaN NaN
26 NaN NaN
27 NaN NaN
28 NaN NaN
29 NaN NaN  ,                          Zone  \
0          South Culture Zone
1  South Central Culture Zone
2          North Culture Zone
3  North Central Culture Zone
4           East Culture Zone
5     North East Culture Zone
6           West Culture Zone

                                        Zonal Centre  \
0  South Zone Cultural Centre, Thanjavur, Tamil Nadu
1  South-Central Zone Cultural Centre, Nagpur, Ma...
2        North Zone Cultural Centre, Patiala, Punjab
3  North-Central Zone Cultural Centre, Prayagraj,...
4    East Zone Cultural Centre, Kolkata, West Bengal
5  North East Zone Cultural Centre, Dimapur, Naga...
6      West Zone Cultural Centre, Udaipur, Rajasthan

                                              Extent
0  Andaman and Nicobar Islands, Andhra Pradesh, K...
1  Andhra Pradesh, Chhattisgarh, Goa, Karnataka, ...
2  Chandigarh, Haryana, Himachal Pradesh, Jammu a...
3  Bihar, Delhi, Haryana, Madhya Pradesh, Rajasth...
4  Andaman and Nicobar Islands, Assam, Bihar, Jha...
5  Arunachal Pradesh, Assam, Manipur, Meghalaya, ...
6  Dadra and Nagar Haveli and Daman and Diu, Goa,...  ,                 State    ISO Vehicle code           Zone  \
0      Andhra Pradesh  IN-AP           AP       Southern
1   Arunachal Pradesh  IN-AR           AR  North-Eastern
2               Assam  IN-AS           AS  North-Eastern
3               Bihar  IN-BR           BR        Eastern
4        Chhattisgarh  IN-CG           CG        Central
5                 Goa  IN-GA           GA        Western
6             Gujarat  IN-GJ           GJ        Western
7             Haryana  IN-HR           HR       Northern
8    Himachal Pradesh  IN-HP           HP       Northern
9           Jharkhand  IN-JH           JH        Eastern
10          Karnataka  IN-KA           KA       Southern
11             Kerala  IN-KL           KL       Southern
12     Madhya Pradesh  IN-MP           MP        Central
13        Maharashtra  IN-MH           MH        Western
14            Manipur  IN-MN           MN  North-Eastern
15          Meghalaya  IN-ML           ML  North-Eastern
16            Mizoram  IN-MZ           MZ  North-Eastern
17           Nagaland  IN-NL           NL  North-Eastern
18             Odisha  IN-OD           OD        Eastern
19             Punjab  IN-PB           PB       Northern
20          Rajasthan  IN-RJ           RJ       Northern
21             Sikkim  IN-SK           SK  North-Eastern
22         Tamil Nadu  IN-TN           TN       Southern
23          Telangana  IN-TS       TG[29]       Southern
24            Tripura  IN-TR           TR  North-Eastern
25      Uttar Pradesh  IN-UP           UP        Central
26        Uttarakhand  IN-UK           UK        Central
27        West Bengal  IN-WB           WB        Eastern

                                       Capital        Largest city  \
0                                    Amaravati       Visakhapatnam
1                                     Itanagar            Itanagar
2                                       Dispur            Guwahati
3                                        Patna               Patna
4                                    Raipur[a]           Raipur[a]
5                                       Panaji       Vasco da Gama
6                                  Gandhinagar           Ahmedabad
7                                   Chandigarh           Faridabad
8     Shimla (Summer) Dharamshala (Winter)[21]              Shimla
9                                       Ranchi          Jamshedpur
10                                   Bangalore           Bangalore
11                          Thiruvananthapuram  Thiruvananthapuram
12                                      Bhopal              Indore
13     Mumbai (Summer) Nagpur (Winter)[26][27]              Mumbai
14                                      Imphal              Imphal
15                                    Shillong            Shillong
16                                      Aizawl              Aizawl
17                                      Kohima             Dimapur
18                                 Bhubaneswar         Bhubaneswar
19                                  Chandigarh            Ludhiana
20                                      Jaipur              Jaipur
21                                     Gangtok             Gangtok
22                                     Chennai             Chennai
23                                Hyderabad[b]        Hyderabad[b]
24                                    Agartala            Agartala
25                                     Lucknow             Lucknow
26  Bhararisain (Summer) Dehradun (Winter)[36]            Dehradun
27                                     Kolkata             Kolkata

           Statehood Population (2011)[16][17]   Area (km2)  \
0    1 November 1956                  49506799       162975
1   20 February 1987                   1383727        83743
2    26 January 1950                  31205576        78438
3    26 January 1950                 104099452        94163
4    1 November 2000                  25545198       135194
5        30 May 1987                   1458545         3702
6         1 May 1960                  60439692       196024
7    1 November 1966                  25351462        44212
8    25 January 1971                   6864602        55673
9   15 November 2000                  32988134        79714
10   1 November 1956                  61095297       191791
11   1 November 1956                  33406061        38863
12   1 November 1956                  72626809       308252
13        1 May 1960                 112374333       307713
14   21 January 1972                   2855794        22327
15   21 January 1972                   2966889        22429
16  20 February 1987                   1097206        21081
17   1 December 1963                   1978502        16579
18   26 January 1950                  41974218       155707
19   1 November 1966                  27743338        50362
20   26 January 1950                  68548437       342239
21       16 May 1975                    610577         7096
22   1 November 1956                  72147030       130058
23       2 June 2014            35,193,978[34]  112,077[34]
24   21 January 1972                   3673917        10491
25   26 January 1950                 199812341       240928
26   9 November 2000                  10086292        53483
27   26 January 1950                  91276115        88752

                    Official languages[18]  \
0                                   Telugu
1                                  English
2                           Assamese, Boro
3                                    Hindi
4                                    Hindi
5                                  Konkani
6                          Gujarati, Hindi
7                                    Hindi
8                                    Hindi
9                                    Hindi
10                                 Kannada
11                               Malayalam
12                                   Hindi
13                                 Marathi
14                                  Meitei
15                                 English
16                           Mizo, English
17                                 English
18                                    Odia
19                                 Punjabi
20                                   Hindi
21  Nepali, Sikkimese, Lepcha, English[28]
22                                   Tamil
23                                  Telugu

27

In [94]:
print(df5[0])
print(df5[1])
print(df5[2])

    0                                                  1
0 NaN  This article possibly contains original resear...
                                                    0
0             This article is part of a series on the
1                                   Politics of India
2   Constitution and law Constitution of India Fun...
3   Government President of India Droupadi Murmu V...
4   Parliament Parliament of India Lok Sabha Speak...
5   Judiciary Supreme Court of India Chief Justice...
6   Elections and political parties Presidential e...
7   Administrative divisions States Andhra Pradesh...
8   Federalism Executive Governors (List) Lieutena...
9   Foreign relations Ministry of External Affairs...
10                       India portal Other countries
11                                                vte
    0   1   2   3                                                  4   \
0  NaN NaN NaN NaN                                                NaN
1  NaN NaN NaN NaN                                                NaN
2  NaN NaN NaN NaN                                    Country (India)
3  NaN NaN NaN NaN                                    Country (India)
4  NaN NaN NaN NaN                                                NaN
5  NaN NaN NaN NaN                                                NaN
6  NaN NaN NaN NaN                     State (e.g. West Bengal State)
7  NaN NaN NaN NaN                     State (e.g. West Bengal State)
8  NaN NaN NaN NaN                                                NaN
9  NaN NaN NaN NaN                                                NaN
10 NaN NaN NaN NaN                Division (e.g. Presidency Division)
11 NaN NaN NaN NaN                Division (e.g. Presidency Division)
12 NaN NaN NaN NaN                                                NaN
13 NaN NaN NaN NaN                                                NaN
14 NaN NaN NaN NaN         District (e.g. North 24 Parganas District)
15 NaN NaN NaN NaN         District (e.g. North 24 Parganas District)
16 NaN NaN NaN NaN                                                NaN
17 NaN NaN NaN NaN                                                NaN
18 NaN NaN NaN NaN  Sub-district (Subdivision, Tehsil/Taluka) (e.g...
19 NaN NaN NaN NaN  Sub-district (Subdivision, Tehsil/Taluka) (e.g...
20 NaN NaN NaN NaN                                                NaN
21 NaN NaN NaN NaN                                                NaN
22 NaN NaN NaN NaN                     Block (e.g. Basirhat II Block)
23 NaN NaN NaN NaN                     Block (e.g. Basirhat II Block)
24 NaN NaN NaN NaN                                                NaN
25 NaN NaN NaN NaN                                                NaN
26 NaN NaN NaN NaN                     Village  (e.g. Chaita village)
27 NaN NaN NaN NaN                     Village  (e.g. Chaita village)
28 NaN NaN NaN NaN                                                NaN
29 NaN NaN NaN NaN                                                NaN

                                                   5   \
0                                                 NaN
1                                                 NaN
2                                     Country (India)
3                                     Country (India)
4                                                 NaN
5                                                 NaN
6                      State (e.g. West Bengal State)
7                      State (e.g. West Bengal State)
8                                                 NaN
9                                                 NaN
10                Division (e.g. Presidency Division)
11                Division (e.g. Presidency Division)
12                                                NaN
13                                                NaN
14         District (e.g. North 24 Parganas District)
15         District (e.g. North 24 Parganas District)
16                                                NaN
17                                                NaN
18  Sub-district (Subdivision, Tehsil/Taluka) (e.g...
19  Sub-district (Subdivision, Tehsil/Taluka) (e.g...
20                                                NaN
21                                                NaN
22                     Block (e.g. Basirhat II Block)
23                     Block (e.g. Basirhat II Block)
24                                                NaN
25                                                NaN
26                     Village  (e.g. Chaita village)
27                     Village  (e.g. Chaita village)
28                                                NaN
29                                                NaN

                                                   6   \
0                                                 NaN
1                                                 NaN
2                                     Country (India)
3                                     Country (India)
4                                                 NaN
5                                                 NaN
6                      State (e.g. West Bengal State)
7                      State (e.g. West Bengal State)
8                                                 NaN
9                                                 NaN
10                Division (e.g. Presidency Division)
11                Division (e.g. Presidency Division)
12                                                NaN
13                                                NaN
14         District (e.g. North 24 Parganas District)
15         District (e.g. North 24 Parganas District)
16                                                NaN
17                                                NaN
18  Sub-district (Subdivision, Tehsil/Taluka) (e.g...
19  Sub-district (Subdivision, Tehsil/Taluka) (e.g...
20                                                NaN
21                                                NaN
22                     Block (e.g. Basirhat II Block)
23                     Block (e.g. Basirhat II Block)
24                                                NaN
25                                                NaN
26                     Village  (e.g. Chaita village)
27                     Village  (e.g. Chaita village)
28                                                NaN
29                                                NaN

                                                   7   \
0                                                 NaN
1                                                 NaN
2                                     Country (India)
3                                     Country (India)
4                                                 NaN
5                                                 NaN
6                      State (e.g. West Bengal State)
7                      State (e.g. West Bengal State)
8                                                 NaN
9                                                 NaN
10                Division (e.g. Presidency Division)
11                Division (e.g. Presidency Division)
12                                                NaN
13                                                NaN
14         District (e.g. North 24 Parganas District)
15         District (e.g. North 24 Parganas District)
16                                                NaN
17                                                NaN
18  Sub-district (Subdivision, Tehsil/Taluka) (e.g...
19  Sub-district (Subdivision, Tehsil/Taluka) (e.g...
20                                                NaN
21                                                NaN
22                     Block (e.g. Basirhat II Block)
23                     Block (e.g. Basirhat II Block)
24                                                NaN
25                                                NaN
26                     Village  (e.g. Chaita village)
27                     Village  (e.g. Chaita village)
28                                                NaN
29                                                NaN

                                                   8   \
0                                                 NaN
1                                                 NaN
2                                     Country (India)
3                                     Country (India)
4                                                 NaN
5                                                 NaN
6                      State (e.g. West Bengal State)
7                      State (e.g. West Bengal State)
8                                                 NaN
9                                                 NaN
10                Division (e.g. Presidency Division)
11                Division (e.g. Presidency Division)
12                                                NaN
13                                                NaN
14         District (e.g. North 24 Parganas District)
15         District (e.g. North 24 Parganas District)
16                                                NaN
17                                                NaN
18  Sub-district (Subdivision, Tehsil/Taluka) (e.g...
19  Sub-district (Subdivision, Tehsil/Taluka) (e.g...
20                                                NaN
21                                                NaN
22                     Block (e.g. Basirhat II Block)
23                     Block (e.g. Basirhat II Block)
24                                                NaN
25                                                NaN
26                     Village  (e.g. Chaita village)
27                     Village  (e.g. Chaita village)
28                                                NaN
29                                                NaN

                                                   9   10  11  12  13  14  15  \
0                                                 NaN NaN NaN NaN NaN NaN NaN
1                                                 NaN NaN NaN NaN NaN NaN NaN
2                                     Country (India) NaN NaN NaN NaN NaN NaN
3                                     Country (India) NaN NaN NaN NaN NaN NaN
4                                                 NaN NaN NaN NaN NaN NaN NaN
5                                                 NaN NaN NaN NaN NaN NaN NaN
6                      State (e.g. West Bengal State) NaN NaN NaN NaN NaN NaN
7                      State (e.g. West Bengal State) NaN NaN NaN NaN NaN NaN
8                                                 NaN NaN NaN NaN NaN NaN NaN
9                                                 NaN NaN NaN NaN NaN NaN NaN
10                Division (e.g. Presidency Division) NaN NaN NaN NaN NaN NaN
11                Division (e.g. Presidency Division) NaN NaN NaN NaN NaN NaN
12                                                NaN NaN NaN NaN NaN NaN NaN
13                                                NaN NaN NaN NaN NaN NaN NaN
14         District (e.g. North 24 Parganas District) NaN NaN NaN NaN NaN NaN
15         District (e.g. North 24 Parganas District) NaN NaN NaN NaN NaN NaN
16                                                NaN NaN NaN NaN NaN NaN NaN
17                                                NaN NaN NaN NaN NaN NaN NaN
18  Sub-district (Subdivision, Tehsil/Taluka) (e.g... NaN NaN NaN NaN NaN NaN
19  Sub-district (Subdivision, Tehsil/Taluka) (e.g... NaN NaN NaN NaN NaN NaN
20                                                NaN NaN NaN NaN NaN NaN NaN
21                                                NaN NaN NaN NaN NaN NaN NaN
22                     Block (e.g. Basirhat II Block) NaN NaN NaN NaN NaN NaN
23                     Block (e.g. Basirhat II Block) NaN NaN NaN NaN NaN NaN
24                                                NaN NaN NaN NaN NaN NaN NaN
25                                                NaN NaN NaN NaN NaN NaN NaN
26                     Village  (e.g. Chaita village) NaN NaN NaN NaN NaN NaN
27                     Village  (e.g. Chaita village) NaN NaN NaN NaN NaN NaN
28                                                NaN NaN NaN NaN NaN NaN NaN
29                                                NaN NaN NaN NaN NaN NaN NaN

    16  17
0  NaN NaN
1  NaN NaN
2  NaN NaN
3  NaN NaN
4  NaN NaN
5  NaN NaN
6  NaN NaN
7  NaN NaN
8  NaN NaN
9  NaN NaN
10 NaN NaN
11 NaN NaN
12 NaN NaN
13 NaN NaN
14 NaN NaN
15 NaN NaN
16 NaN NaN
17 NaN NaN
18 NaN NaN
19 NaN NaN
20 NaN NaN
21 NaN NaN
22 NaN NaN
23 NaN NaN
24 NaN NaN
25 NaN NaN
26 NaN NaN
27 NaN NaN
28 NaN NaN
29 NaN NaN

In [96]:
type(df5[2])

pandas.core.frame.DataFrame

In [98]:
df5[2].shape

(30, 18)

In [100]:
df5[2]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,Country (India),Country (India),Country (India),Country (India),Country (India),Country (India),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,Country (India),Country (India),Country (India),Country (India),Country (India),Country (India),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,State (e.g. West Bengal State),State (e.g. West Bengal State),State (e.g. West Bengal State),State (e.g. West Bengal State),State (e.g. West Bengal State),State (e.g. West Bengal State),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,State (e.g. West Bengal State),State (e.g. West Bengal State),State (e.g. West Bengal State),State (e.g. West Bengal State),State (e.g. West Bengal State),State (e.g. West Bengal State),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,Division (e.g. Presidency Division),Division (e.g. Presidency Division),Division (e.g. Presidency Division),Division (e.g. Presidency Division),Division (e.g. Presidency Division),Division (e.g. Presidency Division),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,Division (e.g. Presidency Division),Division (e.g. Presidency Division),Division (e.g. Presidency Division),Division (e.g. Presidency Division),Division (e.g. Presidency Division),Division (e.g. Presidency Division),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,District (e.g. North 24 Parganas District),District (e.g. North 24 Parganas District),District (e.g. North 24 Parganas District),District (e.g. North 24 Parganas District),District (e.g. North 24 Parganas District),District (e.g. North 24 Parganas District),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,District (e.g. North 24 Parganas District),District (e.g. North 24 Parganas District),District (e.g. North 24 Parganas District),District (e.g. North 24 Parganas District),District (e.g. North 24 Parganas District),District (e.g. North 24 Parganas District),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,"Sub-district (Subdivision, Tehsil/Taluka) (e.g...","Sub-district (Subdivision, Tehsil/Taluka) (e.g...","Sub-district (Subdivision, Tehsil/Taluka) (e.g...","Sub-district (Subdivision, Tehsil/Taluka) (e.g...","Sub-district (Subdivision, Tehsil/Taluka) (e.g...","Sub-district (Subdivision, Tehsil/Taluka) (e.g...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,"Sub-district (Subdivision, Tehsil/Taluka) (e.g...","Sub-district (Subdivision, Tehsil/Taluka) (e.g...","Sub-district (Subdivision, Tehsil/Taluka) (e.g...","Sub-district (Subdivision, Tehsil/Taluka) (e.g...","Sub-district (Subdivision, Tehsil/Taluka) (e.g...","Sub-district (Subdivision, Tehsil/Taluka) (e.g...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,Block (e.g. Basirhat II Block),Block (e.g. Basirhat II Block),Block (e.g. Basirhat II Block),Block (e.g. Basirhat II Block),Block (e.g. Basirhat II Block),Block (e.g. Basirhat II Block),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,Block (e.g. Basirhat II Block),Block (e.g. Basirhat II Block),Block (e.g. Basirhat II Block),Block (e.g. Basirhat II Block),Block (e.g. Basirhat II Block),Block (e.g. Basirhat II Block),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,Village (e.g. Chaita village),Village (e.g. Chaita village),Village (e.g. Chaita village),Village (e.g. Chaita village),Village (e.g. Chaita village),Village (e.g. Chaita village),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,Village (e.g. Chaita village),Village (e.g. Chaita village),Village (e.g. Chaita village),Village (e.g. Chaita village),Village (e.g. Chaita village),Village (e.g. Chaita village),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
df5[4].shape

(28, 11)

In [106]:
df5[4]

,State,ISO,Vehicle code,Zone,Capital,Largest city,Statehood,Population (2011)[16][17],Area (km2),Official languages[18],Additional official languages[18]
0,Andhra Pradesh,IN-AP,AP,Southern,Amaravati,Visakhapatnam,1 November 1956,49506799,162975,Telugu,Urdu[19]
1,Arunachal Pradesh,IN-AR,AR,North-Eastern,Itanagar,Itanagar,20 February 1987,1383727,83743,English,—
2,Assam,IN-AS,AS,North-Eastern,Dispur,Guwahati,26 January 1950,31205576,78438,"Assamese, Boro",Bengali
3,Bihar,IN-BR,BR,Eastern,Patna,Patna,26 January 1950,104099452,94163,Hindi,Urdu
4,Chhattisgarh,IN-CG,CG,Central,Raipur[a],Raipur[a],1 November 2000,25545198,135194,Hindi,Chhattisgarhi
5,Goa,IN-GA,GA,Western,Panaji,Vasco da Gama,30 May 1987,1458545,3702,Konkani,Marathi
6,Gujarat,IN-GJ,GJ,Western,Gandhinagar,Ahmedabad,1 May 1960,60439692,196024,"Gujarati, Hindi",—
7,Haryana,IN-HR,HR,Northern,Chandigarh,Faridabad,1 November 1966,25351462,44212,Hindi,Punjabi[20]
8,Himachal Pradesh,IN-HP,HP,Northern,Shimla (Summer) Dharamshala (Winter)[21],Shimla,25 January 1971,6864602,55673,Hindi,Sanskrit[22]
9,Jharkhand,IN-JH,JH,Eastern,Ranchi,Jamshedpur,15 November 2000,32988134,79714,Hindi,"Angika, Bengali, Bhojpuri, Bhumij, Ho, Kharia,..."
10,Karnataka,IN-KA,KA,Southern,Bangalore,Bangalore,1 November 1956,61095297,191791,Kannada,—
11,Kerala,IN-KL,KL,Southern,Thiruvananthapuram,Thiruvananthapuram,1 November 1956,33406061,38863,Malayalam,English[25]
12,Madhya Pradesh,IN-MP,MP,Central,Bhopal,Indore,1 November 1956,72626809,308252,Hindi,—
13,Maharashtra,IN-MH,MH,Western,Mumbai (Summer) Nagpur (Winter)[26][27],Mumbai,1 May 1960,112374333,307713,Marathi,—
14,Manipur,IN-MN,MN,North-Eastern,Imphal,Imphal,21 January 1972,2855794,22327,Meitei,English
15,Meghalaya,IN-ML,ML,North-Eastern,Shillong,Shillong,21 January 1972,2966889,22429,English,—
16,Mizoram,IN-MZ,MZ,North-Eastern,Aizawl,Aizawl,20 February 1987,1097206,21081,"Mizo, English",—
17,Nagaland,IN-NL,NL,North-Eastern,Kohima,Dimapur,1 December 1963,1978502,16579,English,—
18,Odisha,IN-OD,OD,Eastern,Bhubaneswar,Bhubaneswar,26 January 1950,41974218,155707,Odia,—
19,Punjab,IN-PB,PB,Northern,Chandigarh,Ludhiana,1 November 1966,27743338,50362,Punjabi,—
20,Rajasthan,IN-RJ,RJ,Northern,Jaipur,Jaipur,26 January 1950,68548437,342239,Hindi,English
21,Sikkim,IN-SK,SK,North-Eastern,Gangtok,Gangtok,16 May 1975,610577,7096,"Nepali, Sikkimese, Lepcha, English[28]","Gurung, Limbu, Magar, Mukhia, Newari, Rai, She..."
22,Tamil Nadu,IN-TN,TN,Southern,Chennai,Chennai,1 November 1956,72147030,130058,Tamil,English
23,Telangana,IN-TS,TG[29],Southern,Hyderabad[b],Hyderabad[b],2 June 2014,"35,193,978[34]","112,077[34]",Telugu,Urdu[35]
24,Tripura,IN-TR,TR,North-Eastern,Agartala,Agartala,21 January 1972,3673917,10491,"Bengali, English, Kokborok",—
25,Uttar Pradesh,IN-UP,UP,Central,Lucknow,Lucknow,26 January 1950,199812341,240928,Hindi,Urdu
26,Uttarakhand,IN-UK,UK,Central,Bhararisain (Summer) Dehradun (Winter)[36],Dehradun,9 November 2000,10086292,53483,Hindi,Sanskrit[37]
27,West Bengal,IN-WB,WB,Eastern,Kolkata,Kolkata,26 January 1950,91276115,88752,"Bengali, English","Nepali,[c] Hindi, Odia, Punjabi, Santali, Telu..."

In [108]:
df6=df5[4]
df6

,State,ISO,Vehicle code,Zone,Capital,Largest city,Statehood,Population (2011)[16][17],Area (km2),Official languages[18],Additional official languages[18]
0,Andhra Pradesh,IN-AP,AP,Southern,Amaravati,Visakhapatnam,1 November 1956,49506799,162975,Telugu,Urdu[19]
1,Arunachal Pradesh,IN-AR,AR,North-Eastern,Itanagar,Itanagar,20 February 1987,1383727,83743,English,—
2,Assam,IN-AS,AS,North-Eastern,Dispur,Guwahati,26 January 1950,31205576,78438,"Assamese, Boro",Bengali
3,Bihar,IN-BR,BR,Eastern,Patna,Patna,26 January 1950,104099452,94163,Hindi,Urdu
4,Chhattisgarh,IN-CG,CG,Central,Raipur[a],Raipur[a],1 November 2000,25545198,135194,Hindi,Chhattisgarhi
5,Goa,IN-GA,GA,Western,Panaji,Vasco da Gama,30 May 1987,1458545,3702,Konkani,Marathi
6,Gujarat,IN-GJ,GJ,Western,Gandhinagar,Ahmedabad,1 May 1960,60439692,196024,"Gujarati, Hindi",—
7,Haryana,IN-HR,HR,Northern,Chandigarh,Faridabad,1 November 1966,25351462,44212,Hindi,Punjabi[20]
8,Himachal Pradesh,IN-HP,HP,Northern,Shimla (Summer) Dharamshala (Winter)[21],Shimla,25 January 1971,6864602,55673,Hindi,Sanskrit[22]
9,Jharkhand,IN-JH,JH,Eastern,Ranchi,Jamshedpur,15 November 2000,32988134,79714,Hindi,"Angika, Bengali, Bhojpuri, Bhumij, Ho, Kharia,..."
10,Karnataka,IN-KA,KA,Southern,Bangalore,Bangalore,1 November 1956,61095297,191791,Kannada,—
11,Kerala,IN-KL,KL,Southern,Thiruvananthapuram,Thiruvananthapuram,1 November 1956,33406061,38863,Malayalam,English[25]
12,Madhya Pradesh,IN-MP,MP,Central,Bhopal,Indore,1 November 1956,72626809,308252,Hindi,—
13,Maharashtra,IN-MH,MH,Western,Mumbai (Summer) Nagpur (Winter)[26][27],Mumbai,1 May 1960,112374333,307713,Marathi,—
14,Manipur,IN-MN,MN,North-Eastern,Imphal,Imphal,21 January 1972,2855794,22327,Meitei,English
15,Meghalaya,IN-ML,ML,North-Eastern,Shillong,Shillong,21 January 1972,2966889,22429,English,—
16,Mizoram,IN-MZ,MZ,North-Eastern,Aizawl,Aizawl,20 February 1987,1097206,21081,"Mizo, English",—
17,Nagaland,IN-NL,NL,North-Eastern,Kohima,Dimapur,1 December 1963,1978502,16579,English,—
18,Odisha,IN-OD,OD,Eastern,Bhubaneswar,Bhubaneswar,26 January 1950,41974218,155707,Odia,—
19,Punjab,IN-PB,PB,Northern,Chandigarh,Ludhiana,1 November 1966,27743338,50362,Punjabi,—
20,Rajasthan,IN-RJ,RJ,Northern,Jaipur,Jaipur,26 January 1950,68548437,342239,Hindi,English
21,Sikkim,IN-SK,SK,North-Eastern,Gangtok,Gangtok,16 May 1975,610577,7096,"Nepali, Sikkimese, Lepcha, English[28]","Gurung, Limbu, Magar, Mukhia, Newari, Rai, She..."
22,Tamil Nadu,IN-TN,TN,Southern,Chennai,Chennai,1 November 1956,72147030,130058,Tamil,English
23,Telangana,IN-TS,TG[29],Southern,Hyderabad[b],Hyderabad[b],2 June 2014,"35,193,978[34]","112,077[34]",Telugu,Urdu[35]
24,Tripura,IN-TR,TR,North-Eastern,Agartala,Agartala,21 January 1972,3673917,10491,"Bengali, English, Kokborok",—
25,Uttar Pradesh,IN-UP,UP,Central,Lucknow,Lucknow,26 January 1950,199812341,240928,Hindi,Urdu
26,Uttarakhand,IN-UK,UK,Central,Bhararisain (Summer) Dehradun (Winter)[36],Dehradun,9 November 2000,10086292,53483,Hindi,Sanskrit[37]
27,West Bengal,IN-WB,WB,Eastern,Kolkata,Kolkata,26 January 1950,91276115,88752,"Bengali, English","Nepali,[c] Hindi, Odia, Punjabi, Santali, Telu..."

In [115]:
dfdf6.iloc[:,0:4]

                State    ISO Vehicle code           Zone
0      Andhra Pradesh  IN-AP           AP       Southern
1   Arunachal Pradesh  IN-AR           AR  North-Eastern
2               Assam  IN-AS           AS  North-Eastern
3               Bihar  IN-BR           BR        Eastern
4        Chhattisgarh  IN-CG           CG        Central
5                 Goa  IN-GA           GA        Western
6             Gujarat  IN-GJ           GJ        Western
7             Haryana  IN-HR           HR       Northern
8    Himachal Pradesh  IN-HP           HP       Northern
9           Jharkhand  IN-JH           JH        Eastern
10          Karnataka  IN-KA           KA       Southern
11             Kerala  IN-KL           KL       Southern
12     Madhya Pradesh  IN-MP           MP        Central
13        Maharashtra  IN-MH           MH        Western
14            Manipur  IN-MN           MN  North-Eastern
15          Meghalaya  IN-ML           ML  North-Eastern
16            Mizoram  IN-MZ           MZ  North-Eastern
17           Nagaland  IN-NL           NL  North-Eastern
18             Odisha  IN-OD           OD        Eastern
19             Punjab  IN-PB           PB       Northern
20          Rajasthan  IN-RJ           RJ       Northern
21             Sikkim  IN-SK           SK  North-Eastern
22         Tamil Nadu  IN-TN           TN       Southern
23          Telangana  IN-TS       TG[29]       Southern
24            Tripura  IN-TR           TR  North-Eastern
25      Uttar Pradesh  IN-UP           UP        Central
26        Uttarakhand  IN-UK           UK        Central
27        West Bengal  IN-WB           WB        Eastern

In [144]:
df_zone=df5[3]
pd.set_option('display.max_colwidth', 1000) 
df_zone

,Zone,Zonal Centre,Extent
0,South Culture Zone,"South Zone Cultural Centre, Thanjavur, Tamil Nadu","Andaman and Nicobar Islands, Andhra Pradesh, Karnataka, Kerala, Lakshadweep, Puducherry, Tamil Nadu, Telangana[8]"
1,South Central Culture Zone,"South-Central Zone Cultural Centre, Nagpur, Maharashtra","Andhra Pradesh, Chhattisgarh, Goa, Karnataka, Madhya Pradesh, Maharashtra, Telangana[9]"
2,North Culture Zone,"North Zone Cultural Centre, Patiala, Punjab","Chandigarh, Haryana, Himachal Pradesh, Jammu and Kashmir, Ladakh, Punjab, Rajasthan, Uttarakhand[10]"
3,North Central Culture Zone,"North-Central Zone Cultural Centre, Prayagraj, Uttar Pradesh","Bihar, Delhi, Haryana, Madhya Pradesh, Rajasthan, Uttar Pradesh, Uttarakhand[11]"
4,East Culture Zone,"East Zone Cultural Centre, Kolkata, West Bengal","Andaman and Nicobar Islands, Assam, Bihar, Jharkhand, Manipur, Odisha, Sikkim, Tripura, West Bengal[12]"
5,North East Culture Zone,"North East Zone Cultural Centre, Dimapur, Nagaland","Arunachal Pradesh, Assam, Manipur, Meghalaya, Mizoram, Nagaland, Sikkim, Tripura[13]"
6,West Culture Zone,"West Zone Cultural Centre, Udaipur, Rajasthan","Dadra and Nagar Haveli and Daman and Diu, Goa, Gujarat, Maharashtra, Rajasthan[14]"

In [ ]:
df_zone

In [121]:
import os
os.getcwd()

'/Users/bkannadasan/Documents/GitHub/DataScience/Python/Wednesday_class'

In [129]:
import sqlite3

conn = sqlite3.connect('Dataset/file1.db')
df =pd.read_sql_query('select * from emp', conn)
df

   eid    ename
0  101     Sree
1  102      Sai
2  103  Kishore

In [139]:
from sqlalchemy import create_engine

create_engine?

Signature: create_engine(url: 'Union[str, _url.URL]', **kwargs: 'Any') -> 'Engine'
Docstring:
Create a new :class:`_engine.Engine` instance.

The standard calling form is to send the :ref:`URL <database_urls>` as the
first positional argument, usually a string
that indicates database dialect and connection arguments::

    engine = create_engine("postgresql+psycopg2://scott:tiger@localhost/test")

.. note::

    Please review :ref:`database_urls` for general guidelines in composing
    URL strings.  In particular, special characters, such as those often
    part of passwords, must be URL encoded to be properly parsed.

Additional keyword arguments may then follow it which
establish various options on the resulting :class:`_engine.Engine`
and its underlying :class:`.Dialect` and :class:`_pool.Pool`
constructs::

    engine = create_engine("mysql+mysqldb://scott:tiger@hostname/dbname",
                                pool_recycle=3600, echo=True)

The string form of the URL is
``dialect[+driver]://user:password@host/dbname[?key=value..]``, where
``dialect`` is a database name such as ``mysql``, ``oracle``,
``postgresql``, etc., and ``driver`` the name of a DBAPI, such as
``psycopg2``, ``pyodbc``, ``cx_oracle``, etc.  Alternatively,
the URL can be an instance of :class:`~sqlalchemy.engine.url.URL`.

``**kwargs`` takes a wide variety of options which are routed
towards their appropriate components.  Arguments may be specific to
the :class:`_engine.Engine`, the underlying :class:`.Dialect`,
as well as the
:class:`_pool.Pool`.  Specific dialects also accept keyword arguments that
are unique to that dialect.   Here, we describe the parameters
that are common to most :func:`_sa.create_engine()` usage.

Once established, the newly resulting :class:`_engine.Engine` will
request a connection from the underlying :class:`_pool.Pool` once
:meth:`_engine.Engine.connect` is called, or a method which depends on it
such as :meth:`_engine.Engine.execute` is invoked.   The
:class:`_pool.Pool` in turn
will establish the first actual DBAPI connection when this request
is received.   The :func:`_sa.create_engine` call itself does **not**
establish any actual DBAPI connections directly.

.. seealso::

    :doc:`/core/engines`

    :doc:`/dialects/index`

    :ref:`connections_toplevel`

:param connect_args: a dictionary of options which will be
    passed directly to the DBAPI's ``connect()`` method as
    additional keyword arguments.  See the example
    at :ref:`custom_dbapi_args`.

:param creator: a callable which returns a DBAPI connection.
    This creation function will be passed to the underlying
    connection pool and will be used to create all new database
    connections. Usage of this function causes connection
    parameters specified in the URL argument to be bypassed.

    This hook is not as flexible as the newer
    :meth:`_events.DialectEvents.do_connect` hook which allows complete
    control over how a connection is made to the database, given the full
    set of URL arguments and state beforehand.

    .. seealso::

        :meth:`_events.DialectEvents.do_connect` - event hook that allows
        full control over DBAPI connection mechanics.

        :ref:`custom_dbapi_args`

:param echo=False: if True, the Engine will log all statements
    as well as a ``repr()`` of their parameter lists to the default log
    handler, which defaults to ``sys.stdout`` for output.   If set to the
    string ``"debug"``, result rows will be printed to the standard output
    as well. The ``echo`` attribute of ``Engine`` can be modified at any
    time to turn logging on and off; direct control of logging is also
    available using the standard Python ``logging`` module.

    .. seealso::

        :ref:`dbengine_logging` - further detail on how to configure
        logging.


:param echo_pool=False: if True, the connection pool will log
    informational output such as when connections are invalidated
    as well as when connections are recycled to the default log handler,
    which defaults to ``sys.stdout`` for output.   If set to the string
    ``"debug"``, the logging will include pool checkouts and checkins.
    Direct control of logging is also available using the standard Python
    ``logging`` module.

    .. seealso::

        :ref:`dbengine_logging` - further detail on how to configure
        logging.


:param empty_in_strategy:   No longer used; SQLAlchemy now uses
    "empty set" behavior for IN in all cases.

    .. deprecated:: 1.4 The :paramref:`_sa.create_engine.empty_in_strategy` keyword is deprecated, and no longer has any effect.  All IN expressions are now rendered using the "expanding parameter" strategy which renders a set of boundexpressions, or an "empty set" SELECT, at statement executiontime.



:param enable_from_linting: defaults to True.  Will emit a warning
    if a given SELECT statement is found to have un-linked FROM elements
    which would cause a cartesian product.

    .. versionadded:: 1.4

    .. seealso::

        :ref:`change_4737`

:param execution_options: Dictionary execution options which will
    be applied to all connections.  See
    :meth:`~sqlalchemy.engine.Connection.execution_options`

:param future: Use the 2.0 style :class:`_engine.Engine` and
    :class:`_engine.Connection` API.

    As of SQLAlchemy 2.0, this parameter is present for backwards
    compatibility only and must remain at its default value of ``True``.

    The :paramref:`_sa.create_engine.future` parameter will be
    deprecated in a subsequent 2.x release and eventually removed.

    .. versionadded:: 1.4

    .. versionchanged:: 2.0 All :class:`_engine.Engine` objects are
       "future" style engines and there is no longer a ``future=False``
       mode of operation.

    .. seealso::

        :ref:`migration_20_toplevel`

:param hide_parameters: Boolean, when set to True, SQL statement parameters
    will not be displayed in INFO logging nor will they be formatted into
    the string representation of :class:`.StatementError` objects.

    .. versionadded:: 1.3.8

    .. seealso::

        :ref:`dbengine_logging` - further detail on how to configure
        logging.

:param implicit_returning=True:  Legacy parameter that may only be set
    to True. In SQLAlchemy 2.0, this parameter does nothing. In order to
    disable "implicit returning" for statements invoked by the ORM,
    configure this on a per-table basis using the
    :paramref:`.Table.implicit_returning` parameter.


:param insertmanyvalues_page_size: number of rows to format into an
 INSERT statement when the statement uses "insertmanyvalues" mode, which is
 a paged form of bulk insert that is used for many backends when using
 :term:`executemany` execution typically in conjunction with RETURNING.
 Defaults to 1000, but may also be subject to dialect-specific limiting
 factors which may override this value on a per-statement basis.

 .. versionadded:: 2.0

 .. seealso::

    :ref:`engine_insertmanyvalues`

    :ref:`engine_insertmanyvalues_page_size`

    :paramref:`_engine.Connection.execution_options.insertmanyvalues_page_size`

:param isolation_level: optional string name of an isolation level
    which will be set on all new connections unconditionally.
    Isolation levels are typically some subset of the string names
    ``"SERIALIZABLE"``, ``"REPEATABLE READ"``,
    ``"READ COMMITTED"``, ``"READ UNCOMMITTED"`` and ``"AUTOCOMMIT"``
    based on backend.

    The :paramref:`_sa.create_engine.isolation_level` parameter is
    in contrast to the
    :paramref:`.Connection.execution_options.isolation_level`
    execution option, which may be set on an individual
    :class:`.Connection`, as well as the same parameter passed to
    :meth:`.Engine.execution_options`, where it may be used to create
    multiple engines with different isolation levels that share a common
    connection pool and dialect.

    .. versionchanged:: 2.0 The
       :paramref:`_sa.create_engine.isolation_level`
       parameter has been generalized to work on all dialects which support
       the concept of isolation level, and is provided as a more succinct,
       up front configuration switch in contrast to the execution option
       which is more of an ad-hoc programmatic option.

    .. seealso::

        :ref:`dbapi_autocommit`

:param json_deserializer: for dialects that support the
    :class:`_types.JSON`
    datatype, this is a Python callable that will convert a JSON string
    to a Python object.  By default, the Python ``json.loads`` function is
    used.

    .. versionchanged:: 1.3.7  The SQLite dialect renamed this from
       ``_json_deserializer``.

:param json_serializer: for dialects that support the :class:`_types.JSON`
    datatype, this is a Python callable that will render a given object
    as JSON.   By default, the Python ``json.dumps`` function is used.

    .. versionchanged:: 1.3.7  The SQLite dialect renamed this from
       ``_json_serializer``.


:param label_length=None: optional integer value which limits
    the size of dynamically generated column labels to that many
    characters. If less than 6, labels are generated as
    "_(counter)". If ``None``, the value of
    ``dialect.max_identifier_length``, which may be affected via the
    :paramref:`_sa.create_engine.max_identifier_length` parameter,
    is used instead.   The value of
    :paramref:`_sa.create_engine.label_length`
    may not be larger than that of
    :paramref:`_sa.create_engine.max_identfier_length`.

    .. seealso::

        :paramref:`_sa.create_engine.max_identifier_length`

:param logging_name:  String identifier which will be used within
    the "name" field of logging records generated within the
    "sqlalchemy.engine" logger. Defaults to a hexstring of the
    object's id.

    .. seealso::

        :ref:`dbengine_logging` - further detail on how to configure
        logging.

        :paramref:`_engine.Connection.execution_options.logging_token`

:param max_identifier_length: integer; override the max_identifier_length
    determined by the dialect.  if ``None`` or zero, has no effect.  This
    is the database's configured maximum number of characters that may be
    used in a SQL identifier such as a table name, column name, or label
    name. All dialects determine this value automatically, however in the
    case of a new database version for which this value has changed but
    SQLAlchemy's dialect has not been adjusted, the value may be passed
    here.

    .. versionadded:: 1.3.9

    .. seealso::

        :paramref:`_sa.create_engine.label_length`

:param max_overflow=10: the number of connections to allow in
    connection pool "overflow", that is connections that can be
    opened above and beyond the pool_size setting, which defaults
    to five. this is only used with :class:`~sqlalchemy.pool.QueuePool`.

:param module=None: reference to a Python module object (the module
    itself, not its string name).  Specifies an alternate DBAPI module to
    be used by the engine's dialect.  Each sub-dialect references a
    specific DBAPI which will be imported before first connect.  This
    parameter causes the import to be bypassed, and the given module to
    be used instead. Can be used for testing of DBAPIs as well as to
    inject "mock" DBAPI implementations into the :class:`_engine.Engine`.

:param paramstyle=None: The `paramstyle <https://legacy.python.org/dev/peps/pep-0249/#paramstyle>`_
    to use when rendering bound parameters.  This style defaults to the
    one recommended by the DBAPI itself, which is retrieved from the
    ``.paramstyle`` attribute of the DBAPI.  However, most DBAPIs accept
    more than one paramstyle, and in particular it may be desirable
    to change a "named" paramstyle into a "positional" one, or vice versa.
    When this attribute is passed, it should be one of the values
    ``"qmark"``, ``"numeric"``, ``"named"``, ``"format"`` or
    ``"pyformat"``, and should correspond to a parameter style known
    to be supported by the DBAPI in use.

:param pool=None: an already-constructed instance of
    :class:`~sqlalchemy.pool.Pool`, such as a
    :class:`~sqlalchemy.pool.QueuePool` instance. If non-None, this
    pool will be used directly as the underlying connection pool
    for the engine, bypassing whatever connection parameters are
    present in the URL argument. For information on constructing
    connection pools manually, see :ref:`pooling_toplevel`.

:param poolclass=None: a :class:`~sqlalchemy.pool.Pool`
    subclass, which will be used to create a connection pool
    instance using the connection parameters given in the URL. Note
    this differs from ``pool`` in that you don't actually
    instantiate the pool in this case, you just indicate what type
    of pool to be used.

:param pool_logging_name:  String identifier which will be used within
   the "name" field of logging records generated within the
   "sqlalchemy.pool" logger. Defaults to a hexstring of the object's
   id.

   .. seealso::

        :ref:`dbengine_logging` - further detail on how to configure
        logging.

:param pool_pre_ping: boolean, if True will enable the connection pool
    "pre-ping" feature that tests connections for liveness upon
    each checkout.

    .. versionadded:: 1.2

    .. seealso::

        :ref:`pool_disconnects_pessimistic`

:param pool_size=5: the number of connections to keep open
    inside the connection pool. This used with
    :class:`~sqlalchemy.pool.QueuePool` as
    well as :class:`~sqlalchemy.pool.SingletonThreadPool`.  With
    :class:`~sqlalchemy.pool.QueuePool`, a ``pool_size`` setting
    of 0 indicates no limit; to disable pooling, set ``poolclass`` to
    :class:`~sqlalchemy.pool.NullPool` instead.

:param pool_recycle=-1: this setting causes the pool to recycle
    connections after the given number of seconds has passed. It
    defaults to -1, or no timeout. For example, setting to 3600
    means connections will be recycled after one hour. Note that
    MySQL in particular will disconnect automatically if no
    activity is detected on a connection for eight hours (although
    this is configurable with the MySQLDB connection itself and the
    server configuration as well).

    .. seealso::

        :ref:`pool_setting_recycle`

:param pool_reset_on_return='rollback': set the
    :paramref:`_pool.Pool.reset_on_return` parameter of the underlying
    :class:`_pool.Pool` object, which can be set to the values
    ``"rollback"``, ``"commit"``, or ``None``.

    .. seealso::

        :ref:`pool_reset_on_return`

:param pool_timeout=30: number of seconds to wait before giving
    up on getting a connection from the pool. This is only used
    with :class:`~sqlalchemy.pool.QueuePool`. This can be a float but is
    subject to the limitations of Python time functions which may not be
    reliable in the tens of milliseconds.

    .. note: don't use 30.0 above, it seems to break with the :param tag

:param pool_use_lifo=False: use LIFO (last-in-first-out) when retrieving
    connections from :class:`.QueuePool` instead of FIFO
    (first-in-first-out). Using LIFO, a server-side timeout scheme can
    reduce the number of connections used during non- peak   periods of
    use.   When planning for server-side timeouts, ensure that a recycle or
    pre-ping strategy is in use to gracefully   handle stale connections.

      .. versionadded:: 1.3

      .. seealso::

        :ref:`pool_use_lifo`

        :ref:`pool_disconnects`

:param plugins: string list of plugin names to load.  See
    :class:`.CreateEnginePlugin` for background.

    .. versionadded:: 1.2.3

:param query_cache_size: size of the cache used to cache the SQL string
 form of queries.  Set to zero to disable caching.

 The cache is pruned of its least recently used items when its size reaches
 N * 1.5.  Defaults to 500, meaning the cache will always store at least
 500 SQL statements when filled, and will grow up to 750 items at which
 point it is pruned back down to 500 by removing the 250 least recently
 used items.

 Caching is accomplished on a per-statement basis by generating a
 cache key that represents the statement's structure, then generating
 string SQL for the current dialect only if that key is not present
 in the cache.   All statements support caching, however some features
 such as an INSERT with a large set of parameters will intentionally
 bypass the cache.   SQL logging will indicate statistics for each
 statement whether or not it were pull from the cache.

 .. note:: some ORM functions related to unit-of-work persistence as well
    as some attribute loading strategies will make use of individual
    per-mapper caches outside of the main cache.


 .. seealso::

    :ref:`sql_caching`

 .. versionadded:: 1.4

:param use_insertmanyvalues: True by default, use the "insertmanyvalues"
 execution style for INSERT..RETURNING statements by default.

 .. versionadded:: 2.0

 .. seealso::

    :ref:`engine_insertmanyvalues`
File:      /opt/anaconda3/lib/python3.11/site-packages/sqlalchemy/engine/create.py
Type:      function

In [142]:

eng = create_engine('sqlite:///Dataset/file1.db')
df = pd.read_sql_query('select * from emp', eng)

df

   eid    ename
0  101     Sree
1  102      Sai
2  103  Kishore